/* we'll style the div container only this time to check */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ec7f7f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #54aae0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container3 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a0d468;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container h2 {
    color: #fff;
}
.container2 h2 {
    color: #fff;
}
.container3 h2 {
    color: #fff;
}
.container p {
    color: #fff;
}
.container2 p {
    color: #fff;
}
.container3 p {
    color: #fff;
}
/* lets write css for nav bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}       
/* we'll add some styles for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
/* all headings in middle */
h1, h2, h3 {
    text-align: center;
}   